.error {
    border: 3px solid red;
}

.errorMessage {
    color: red;
}

.activeFilter {
    background-color: rgba(100, 75, 227, 0.79);
}

.isDone {
    opacity: 0.5;
}

ul {
    list-style-type: none;
    padding-inline-start: 0;
}

ul span {
    display: inline-block;
    max-width: 175px
}